Django==4.2.7
celery==5.3.4
redis==5.0.1
pymongo==4.6.0
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-environ==0.11.2
gunicorn==21.2.0
psycopg2-binary==2.9.9
django-cors-headers==4.3.1
python-decouple==3.8
